html {
  background-color: rgba(72, 255, 0, 0.671);
}
table {
  width: 1600px;
  height: 800px;
  position: absolute;
  top: 5%;
  left: 5%;
  border: 1;
}
tr {
  align-items: center;
  text-align: center;
}
td {
  background-color: #fffca3;
  align-items: center;
  text-align: center;
}
