*{
    box-sizing: border-box;
}

.header {
    position: absolute;
    width: 1440px;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #590BFF;
}


.header-h1 {
    position: absolute;
    height: 63px;
    left: 29px;
    top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;
    color: #FFFFFF;
}

.Useful.Links {
    position: absolute;
    width: 282px;
    height: 457px;
    left: 5px;
    top: 136px;
}

.Useful.Links-rectangle {
    position: absolute;
    width: 2px;
    height: 451px;
    left: 280px;
    top: 2px;
    background: #C4C4C4
}

.Useful.Links-h1 {
    position: absolute;
    width: 240px;
    height: 33px;
    left: 20px;
    top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000;
}