* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box {
    width: 50vw;
    height: 50vh;
    background: red;
    font-size: calc(24/1440*100vw);
}

.box-2 {
    width: 50%;
    height: 300px;
    background: lime;
}