/* основное содержимое */
/* стили логотипа */
.main-logo-1 {
    width: 300px;
    position: fixed;
    top: 550px;
    left: 21px;
}

.main-logo-2 {
    width: 300px;
    position: fixed;
    top: 116px;
    left: 21px;
}

.main {
    flex: 1 0 auto;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

html {
    background: bisque;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    flex: 0 0 auto;
}

.header__wrapper {
    position: fixed;
    left: -180px;
    width: 100%;
    display: flex;
    height: 120px;
    background-color: bisque;
    font-size: 40px;
    justify-content: space-around;
}

.header__img-wrapper {
    height: 80px;
}

.header__img {
    height: 100%;
}

h3 {
    margin: 0;
    padding: 0;
    color: mediumaquamarine;
}

.header__title {
    padding: 33px 0px 0px 0px;
    color: darkorange;
}

.directory {
    position: absolute;
    top: 220px;
    left: 340px;
    width: 75%;
    padding-bottom: 280px;
    font-size: xx-large;
    z-index: -1;
}

.directory__wrapper {
    background-color: bisque;
}

.directory__element {
    background-color: bisque;
}

.directory__element-subtitle {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 6px 6px 6px 10px;
    text-align: center;
    font-size: inherit;
}

.directory__element-list {
    font-size: 24px;
    padding: 8px;
}

.directory__element-item {
    margin-bottom: 15px;
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -210px;
    height: 210px;
    visibility: hidden;
}