/* основное содержимое */
/* стили логотипа */
.main-logo-1 {
    width: calc(200 / 720 * 100vw);
    position: fixed;
    top: calc(670 / 720 * 100vw);
    left: calc(21 / 720 * 100vw);
}

.main-logo-2 {
    width: calc(200 / 720 * 100vw);
    position: fixed;
    top: calc(227 / 720 * 100vw);
    left: calc(21 / 720 * 100vw);
}

.main {
    /* flex: 1 0 auto; */
}

div {
    /* display: block; */
}

* {
    box-sizing: border-box;
}

html {
    background: bisque;
    font-family: 'Comic Mono', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    flex: 0 0 auto;
}

.header__wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    height: calc(113 / 720 * 100vw);
    background-color: bisque;
    font-size: calc(40 / 720 * 100vw);
    justify-content: center;
}

.header__img-wrapper {
    height: calc(80 / 720 * 100vw);
}

.header__img {
    height: 100%;
    width: 100%;
}

h3 {
    color: mediumaquamarine;
}

.header__title {
    color: darkorange;
}

.directory {
    position: absolute;
    top: calc(220 / 720 * 100vw);
    left: calc(340 / 720 * 100vw);
    padding-bottom: calc(280 / 720 * 100vw);
    font-size: xx-large;
    z-index: -1;
}

.directory__wrapper {
    background-color: bisque;
}

.directory__element {
    background-color: bisque;
}

.directory__element-subtitle {
    position: sticky;
    margin-bottom: calc(50 / 720 * 100vw);
    margin-left: calc(150 / 720 * 100vw);
    top: calc(150 / 720 * 100vw);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: calc(30/ 720 * 100vw);
}

.directory__element-list {
    font-size: calc(24 / 720 * 100vw);
    padding: calc(8 / 720 * 100vw);
}

.directory__element-item {
    margin-bottom: calc(15 / 720 * 100vw);
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: calc(-210 / 720 * 100vw);
    height: calc(210 / 720 * 100vw);
    visibility: hidden;
}