.footer {
  display: flex;
  justify-content: space-around;
}

.footer-link {
  text-decoration: none;
  display: inline-block;
  background: #00ffff9e;
  color: #0000ff;
  text-transform: uppercase;
  font-size: 20px;
  transform: translateY(-700px);
}
