* {
    box-sizing: border-box;
}

.body {
    /* Страница регистрации, 769-1440 */
    position: relative;
    width: 1440px;
    height: 1184px;
    background: #FFFFFF;
}

.header {
    /* Rectangle 4 */
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-form {
    /* Frame 3 */
    position: absolute;
    width: 600px;
    height: 875px;
    left: 420px;
    top: 180px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.box-form__h1 {
    /* Вход */
    position: absolute;
    width: 115px;
    height: 50px;
    left: 662px;
    top: 206px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    /* identical to box height, or 100% */
    color: #787878;
}

.header__Entrance {
    /* Вход */
    position: absolute;
    width: 60px;
    height: 29px;
    left: 1337px;
    top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #787878;
    text-decoration: none;
}

.header__PCS-Frontend {
    /* PCS Frontend */
    position: absolute;
    width: 242px;
    height: 44px;
    left: 282px;
    top: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #787878;
}

.header__Registration {
    /* Регистрация */
    position: absolute;
    width: 157px;
    height: 29px;
    left: 1152px;
    top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #1A226B;
    text-decoration: none;
}

.header__innopolis-logo {
    /* 1280px-IU_logo 1 */
    position: absolute;
    width: 222px;
    height: 50px;
    left: 30px;
    top: 18px;
    background: url(./img/logo/innopolis_logo.png);
}

.box-form__button {
    /* Регистрация */
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
    /* Rectangle 2 */
    width: 180px;
    height: 52px;
    top: 966px;
    left: 630px;
    background: #1A226B;
}

.box-form__floor-female {}

.box-form__floor-male {}

.box-form__form {}

.box-form__hidden-checkbox {
    /* Rectangle 3 */
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 886px;
    left: 463px;
    background: #FFFFFF;
    border: 2px solid #787878;
}

.box-form__input-email {}

.box-form__input-floor-female {}


.box-form__label-checkbox {

}


.box-form__label-email {}

.header {}

.header__Entrance {}

.header__PCS-Frontend {}

.header__Registration {}

.header__innopolis-logo {}

.main {}

.box-form__label-About-Me {
    position: absolute;
    width: 50px;
    height: 16px;
    top: 595px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #787878;
}

.box-form__input-About-Me {
    /* Расскажите о себе... */
    position: absolute;
    width: 510px;
    height: 246px;
    top: 616px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height, or 129% */
    color: #CCCCCC;
    /* Rectangle 1 */
    background: #FFFFFF;
    border: 2px solid #787878;
    padding: 7px 217px 203px 15px;
}

.box-form__label-email {
    /* Email */
    position: absolute;
    width: 40px;
    height: 16px;
    top: 271px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #787878;
}

.box-form__input-email {
    position: absolute;
    width: 509px;
    height: 49px;
    top: 292px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding: 7px 0px 6px 15px;
    background: #FFFFFF;
    border: 2px solid #787878;
}

.box-form__label-password {
    /* Пароль */
    position: absolute;
    width: 56px;
    height: 16px;
    top: 352px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #787878;
}

.box-form__input-password {
    position: absolute;
    width: 509px;
    height: 49px;
    top: 374px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding: 7px 0px 6px 15px;
    background: #FFFFFF;
    border: 2px solid #787878;
}

.box-form__input-confirmation-password {
    position: absolute;
    width: 509px;
    height: 49px;
    top: 455px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding: 7px 0px 6px 15px;
    background: #FFFFFF;
    border: 2px solid #787878;
}

.box-form__label-confirmation-password {
    /* Подтверждение пароля */
    position: absolute;
    width: 182px;
    height: 16px;
    top: 433px;
    left: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #787878;
}

.box-form__label-floor {
    /* Пол */
    position: absolute;
    width: 30px;
    height: 16px;
    top: 514px;
    left: 463px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #787878;
}